body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: #3498db;
    color: #ffffff;
    padding: 2em;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin-bottom: 0.5em; /* Agregado para separar el h1 del párrafo */
}

header p {
    font-size: 1.2em;
}

section {
    padding: 2em;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 2em auto;
    max-width: 800px;
}

section h2 {
    color: #3498db;
}

section p {
    margin-bottom: 20px;
}

.video-link {
    margin-bottom: 15px;
}

.video-link a {
    display: block;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease-in-out;
}

.video-link a:hover {
    background-color: #2980b9;
}

footer {
    background-color: #3498db;
    color: #ffffff;
    padding: 1em;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    font-size: 0.9em;
}

form {
    max-width: 600px;
    margin: auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

form:hover {
    transform: scale(1.02);
}

label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
    color: #3498db;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #3498db;
    border-radius: 6px;
}

button {
    background-color: #3498db;
    color: #ffffff;
    padding: 14px 28px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
}

button:hover {
    background-color: #2980b9;
}

/* Estilo para la sección de Portafolio */

section h2 {
    color: #3498db;
}

section p {
    margin-bottom: 20px;
}

.video-link {
    margin-bottom: 15px;
}

.video-link a {
    display: block;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease-in-out;
}

.video-link a:hover {
    background-color: #2980b9;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    header h1 {
        font-size: 2em; /* Reducir el tamaño del h1 en dispositivos móviles */
    }

    section h2 {
        font-size: 24px;
    }

    section p {
        font-size: 14px;
    }

    .video-link a {
        font-size: 14px;
    }

    form {
        padding: 15px; /* Ajustar el relleno para dispositivos pequeños */
    }

    iframe {
        width: 100%; /* Hacer que el iframe ocupe el ancho completo */
    }


}